@import '../base/variables';

.site_header {
  display: flex;
  justify-content: center;
  height: $header-height-mobile;
  background-color: $menu-darker;
  position: relative;

  &-navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }

  &-inner {
    display: flex;
    height: 100%;
  }
}

.site-branding {
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
}

.custom-logo-link {
  display: flex;
  align-items: center;
  height: 100%;

  @media (min-width: $screen-size-m) {
    max-width: 50%;
  }

  img {
    height: auto;
    max-width: 80%;

    @media (min-width: $screen-size-m) {
      height: 100%;
      object-fit: contain;
    }
  }
}

.primary-menu,
.secondary-menu {
  padding: 1.5rem 2rem;

  @media (min-width: $screen-size-m) {
    padding: 0.5rem 1rem;
  }

  li {
    margin-bottom: 1rem;
  }
  a {
    color: $menu-font-color;
    text-decoration: none;
    &:hover {
      color: $menu-font-hover-color;
    }
  }
  &-wrapper {
    @media (min-width: $screen-size-m) {
      position: relative;
      height: 100%;
      display: flex;
    }
  }
}

.primary-menu {
  &-button {
    display: none;

    @media (min-width: $screen-size-m) {
      display: flex;
      color: #fff;
      align-items: center;
      font-size: 1.25rem;
      padding-left: 0.5rem;

      &:after {
        content: '|';
        color: #fff;
        font-weight: 400;
        font-size: 2rem;
        padding-left: 1rem;
        position: relative;
        top: -3px;
      }
    }
  }

  &-button--mobile {
    display: block;
    height: 1.8rem;
    position: relative;
    @media (min-width: $screen-size-m) {
      display: none;
    }
  }
}

.primary-menu,
.secondary-menu {
  &-container {
    position: absolute;
    background-color: $menu-darker;
    width: 100vw;
    z-index: $z-high;
    // overflow: hidden;

    left: -9999px;
    top: calc(#{$header-height-mobile} + 2rem);
    opacity: 0;
    transition: opacity 0.2s ease-in-out, top 0.2s ease-in-out;

    @media (min-width: $screen-size-m) {
      width: fit-content;
      min-width: 11.15rem;
      // overflow: unset;
    }

    &.is-opened {
      opacity: 1;
      left: 0;
      top: $header-height-mobile;
    }
  }

  li {
    font-size: $font-size-mobile-menu;
  }
}

.primary-menu .menu-item-has-children {
  .sub-menu {
    @media (min-width: $screen-size-m) {
      position: absolute;
      left: -9999px;
      opacity: 0;
      transition: opacity 0.3s ease-in-out, top 0.3s ease-in-out;
    }
    &.is-opened {
      @media (min-width: $screen-size-m) {
        left: 0;
        opacity: 1;
        left: 10.2rem;
        background-color: $menu-darker;
        min-width: 11.15rem;
        top: 0;
        padding: 1rem 0.5rem;
      }
    }
  }
}

.menu-item-has-children {
  position: relative;
  &:after {
    content: url('assets/chevron-down.svg');
    position: absolute;
    top: 0;
    right: 0;
  }
}

.sub-menu {
  padding-top: 1rem;
}
