@import '../base/variables';

.site_header {
  display: flex;
  height: $header-height-mobile;
  background-color: $menu-darker;
  position: relative;
  &-navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }
}

.site-branding {
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
}

.custom-logo-link {
  display: flex;
  align-items: center;

  img {
    height: auto;
    max-width: 80%;
  }
}

.primary-menu,
.secondary-menu {
  padding: 1.5rem 2rem;
  li {
    margin-bottom: 1rem;
  }
  a {
    color: $menu-font-color;
    text-decoration: none;
    &:hover {
      color: $menu-font-hover-color;
    }
  }
}

.primary-menu {
  &-button {
    display: none;
    @media (min-width: $screen-size-m) {
      display: block;
    }

    &--mobile {
      display: block;
      height: 1.8rem;
      position: relative;
      @media (min-width: $screen-size-m) {
        display: none;
      }
    }
  }
}

.primary-menu,
.secondary-menu {
  &-container {
    top: $header-height-mobile;
    position: absolute;
    background-color: $menu-darker;
    width: 100vw;
    right: 0;
    z-index: $z-high;
    max-height: 0;
    transition: max-height 0.15s ease-out;
    overflow: hidden;

    &.is-opened {
      max-height: 500px;
      transition: max-height 0.25s ease-in;
    }
  }

  li {
    font-size: $font-size-mobile-menu;
  }
}

.primary-menu .menu-item-has-children {
  .sub-menu {
    max-height: 0;
    transition: max-height 0.15s ease-out;
    overflow: hidden;

    &.is-opened {
      max-height: 500px;
      transition: max-height 0.25s ease-in;
    }
  }
}

.menu-item-has-children {
  position: relative;
  &:after {
    content: url('assets/chevron-down.svg');
    position: absolute;
    top: 0;
    right: 0;
  }
}

.sub-menu {
  margin-top: 1rem;
}
