@import '../base/variables';

.site_header {
  display: flex;
  justify-content: center;
  height: $header-height-mobile;
  background-color: $menu-darker;
  position: relative;

  &-navigation {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    // width: 100%;
  }

  &-inner {
    display: flex;
    height: 100%;
  }
}

.site-branding {
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  flex: 3;

  @media (min-width: $screen-size-m) {
    flex: 0.8;
  }

  @media (min-width: $screen-size-ipad-pro) {
    flex: 0.5;
  }
}

.custom-logo-link {
  img {
    height: auto;
    max-width: 80%;

    @media (min-width: $screen-size-xl) {
      height: 100%;
      object-fit: contain;
    }
  }
}

.primary-menu,
.secondary-menu {
  padding: 1.5rem 2rem;

  @media (min-width: $screen-size-xl) {
    padding: 0;
  }

  li {
    margin-bottom: 1rem;
    @media (min-width: $screen-size-xl) {
      margin: 0;
      padding: 0.5rem;
    }
  }
  a {
    color: $menu-font-color;
    text-decoration: none;
    &:hover {
      color: $menu-font-hover-color;
    }
  }
  &-wrapper {
    @media (min-width: $screen-size-xl) {
      position: relative;
      height: 100%;
      display: flex;
    }
  }
}

.primary-menu {
  &-button {
    display: none;

    @media (min-width: $screen-size-xl) {
      display: flex;
      color: #fff;
      align-items: center;
      font-size: 1.25rem;
      padding-left: 0.5rem;

      &:after {
        content: '|';
        color: #fff;
        font-weight: 400;
        font-size: 2rem;
        padding-left: 1rem;
        position: relative;
        top: -3px;
      }
    }
  }

  &-button--mobile {
    display: block;
    height: 1.8rem;
    position: relative;
    @media (min-width: $screen-size-xl) {
      display: none;
    }
  }
}

.primary-menu,
.secondary-menu {
  &-container {
    position: absolute;
    background-color: $menu-dark;
    width: 100vw;
    z-index: $z-high;

    left: -9999px;
    top: calc(#{$header-height-mobile} + 2rem);
    opacity: 0;
    transition: opacity 0.2s ease-in-out, top 0.2s ease-in-out;

    @media (min-width: $screen-size-m) {
      background-color: $sub-menu-background;
    }

    @media (min-width: $screen-size-xl) {
      width: fit-content;
      min-width: 11.15rem;
    }

    &.is-opened {
      opacity: 1;
      left: 0;
      top: $header-height-mobile;
    }
  }

  li {
    font-size: $font-size-mobile-menu;
  }
}

.primary-menu .menu-item-has-children {
  .sub-menu {
    max-height: 0;
    opacity: 0;
    transition: all 0.3s ease-in-out;

    @media (min-width: $screen-size-xl) {
      position: absolute;
      left: -9999px;
      opacity: 0;
      transition: opacity 0.3s ease-in-out, top 0.3s ease-in-out;
    }

    &.is-opened {
      opacity: 1;
      max-height: 600px;
      padding-top: 1rem;
      padding-left: 0.6rem;

      @media (min-width: $screen-size-m) {
        background-color: $sub-menu-background;
      }

      @media (min-width: $screen-size-xl) {
        left: 0;
        top: 0;
        opacity: 1;
        left: 11.05rem;

        min-width: 11.15rem;
        padding: 0;
      }
    }
  }
}

.menu-item-has-children {
  position: relative;
  &:after {
    content: url('assets/chevron-down.svg');
    position: absolute;
    top: 0;
    right: 0;

    @media (min-width: $screen-size-xl) {
      top: 20%;
      transform: rotate(-90deg);
    }
  }
}
