@import '../base/variables';

h1,
h2,
h3 {
  font-family: $header-font;
}

body {
  margin: 0;
  font-family: $body-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

button {
  border: 0;
  padding: 0;
  margin: 0;
  background-color: transparent;

  &:focus {
    outline: 1px solid rgba(255, 255, 255, 0.3);
  }
}
