/*
 * FONTS 
*/
$header-font: 'Alata', 'Helvetica Neue', Helvetica, sans-serif;
$body-font: 'Lato', Arial, sans-serif;

$font-size-mobile-menu: 1.2rem;

/*
 * COLORS 
*/
$menu-darker: #282c34;
$menu-dark: #3d404e;
$menu-medium: #858c98;
$menu-bright: #fff;
$sub-menu-background: rgba(61, 64, 78, 0.85);

$menu-font-color: #b0b0b0;
$menu-font-hover-color: #fff;

$basic-darkest: #000;
$basic-dark: #282c34;
$basic-medium-light: #858c98;
$basic-bright: #b0b0b0;
$basic-brighter: #eeeeef;
$basic-brightest: #fff;

$background-medium-light: #e4e6ea;

/*
 * SCREEN SIZES
*/
$screen-size-xxl: 1689px;
$screen-size-xl: 1200px;
$screen-size-l: 992px;
$screen-size-m: 768px;
$screen-size-s: 576px;

$screen-size-ipad-pro: 1024px;

/*
 * FONT SIZES
*/

$heading-xl: 1rem; // WIP

/*
 * HEIGHTS
*/

$header-height: 2.8rem;
$header-height-mobile: 3.5rem;

/*
 * Z-INDEX
*/

$z-high: 100; //for header menu ul
$z-highest: 1000; //for header menu bar
